.loading-container {
    position: fixed;
    top: 60;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    z-index: 1;

    .spinner {
        width: 50px;
        height: 50px;
        border: 5px solid $secondary-color;
        border-top: 5px solid $ancent-color-1;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

