
$primary-color: #222831;
$secondary-color: #393E46;
$ancent-color-1: #00ADB5;
$ancent-color-2: #EEEEEE;

// $primary-color: #EBE8DB;
// $secondary-color: #D76C82;
// $ancent-color-1: #B03052;
// $ancent-color-2: #3D0301;


//font
$font-family:  "Montserrat", sans-serif;