@import "./styles/variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

.App{
  background-color: $primary-color;
  min-height: 100vh;
}

.main{
  margin-top: 1rem;
  background-color: $primary-color;
}

@import "./styles/components";
